<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png">
  
  <title>Frontend Mentor | Personal finance app - Overview</title>

  <link rel = "stylesheet" href = "/styles/styles.css">
</head>

<body>

  <header>
    <h1 class = "sr-only">Personal Finance App Solution for Frontend Mentor by Defenstration - Home</h1>
  </header>

  <main>

    <div class = "nav-wrapper grid">

      <h2 class = "nav-header">finance</h2>

      <nav>
        <ul>Overview</ul>
        <ul>Transactions</ul>
        <ul>Budgets</ul>
        <ul>Pots</ul>
        <ul>Recurring Bills</ul>
      </nav>

      <p>Minimize Menu</p>
    </div>

    <div class = "overview-wrapper">
  
      <h2 class = "overview-header">Overview</h2>

      <ul class = "overview-sections flex">

        <li>
          <p>Current Balance</p>
          <!-- Add balance -->
           <% current-balance %>
        </li>

        <li>
          Income
          <!-- Add income -->
        </li>

        <li>
          Expenses
          <!-- Add expenses -->
        </li>

      </ul>

      Pots
      See Details

      Total Saved
      <!-- Add pots data -->

      Budgets
      See Details
      <!-- Add budgets data -->

      Transactions
      View All
      <!-- Add transactions data -->

      Recurring Bills
      See Details
      <!-- Add recurring bills data -->

    </div>

  </main> 

</body>
</html>